@charset "UTF-8";
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
	font-family: 'NanumSquareRound';
}
select{
	font-family: 'NanumSquareRound';
}
button{
	font-family: 'NanumSquareRound';
}
a{
	text-decoration: none;
}

.container{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.mainTitle{
	width: 100%;
	font-size: 27px;
	font-weight: 800;
	height: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: table-cell;
	vertical-align: middle;
}
.detailTable{
	width: 100%;
	font-size: 17px;
	border-spacing: 1; 
 	border-collapse: collapse; 
}
.detailTable th{
	background-color: #008c9e0f;
	width: 30%;
	font-size: 20px;
	text-align: center;
}
.detailTable tr{
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,0.04);
}
.detailTable tr:last-child{
	border: none;
}
.detailTable td{
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff;
	text-align: center;
}
#delBtn{
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #AF4034;
	height: 40px;
	font-size: 20px;
	width: 70px;
	border-radius: 10px;
	color: #fff;
}

#upBtn,#listBtn{
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #008c9e;
	height: 40px;
	font-size: 20px;
	width: 70px;
	border-radius: 10px;
	color: #fff;
}