@charset "UTF-8";
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
	font-family: 'NanumSquareRound';
}
select{
	font-family: 'NanumSquareRound';
}
button{
	font-family: 'NanumSquareRound';
}
a{
	text-decoration: none;
}

.container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.container select{
	width: 130px;
	height: 35px;
	outline: none;
	border: none;
	border-radius: 10px;
	background-color: #f2f6f7;
	font-size: 15px;
	padding-left: 13px;
	margin-bottom: 15px;
	margin-right: 15px;
}
.mainTitle{
	width: 100%;
	font-size: 27px;
	font-weight: 800;
	height: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: table-cell;
	vertical-align: middle;
}
.boardTable{ 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  position:relative;
}
.boardTable thead th{
	background-color: #008c9e;	
	color: #fff;
	font-size: 17px;
}
.boardTable thead tr{
	height: 60px;
}
.boardTable tbody tr{
	height: 50px;
	border-bottom: 1px solid rgba(0,0,0,0.04);
}
.boardTable tbody tr:last-child{
	border: none;	
}
.boardTable tbody tr:hover{
	background-color: #008c9e0f;
}
.boardTable tbody td{
	padding: 10px;
}
#deleteBtn{
	border: none;
	outline: none;
	width: 50px;
    height: 35px;
	border-radius: 0.5em;
	font-size: 15px;
	background-color: #AF4034;
	color: #fff;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.titleAnchor{
	cursor: pointer;
}
.titleAnchor:hover{
	font-weight: bold;
}

.pagingWrap{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
